<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bottoms Up API</title>
</head>
<body>
    <h3>Welcome to the bottoms up API</h3>
    <p>To get a list of all the prices, add <b>/prices</b> to the url</p>
    <p>You can pass in the following options to the url</p>
    <ul>
        <li>name</li>
        <li>price</li>
        <li>type</li>
    </ul>
    <p>For example: <strong><i>/prices?name=jameson&price=2700</i></strong></p>
</body>
</html>